@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply outline-none focus-visible:ring-4 focus-visible:ring-blue-600/50;
}

html,
body,
#app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  @apply bg-neutral-200 text-neutral-800 dark:text-neutral-200 dark:bg-neutral-800 font-sans transition-colors ;
}

p {
  @apply my-4;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}

@layer components {
  .btn {
    @apply rounded-md bg-blue-600 px-3 py-2 text-white hover:bg-blue-700 active:bg-blue-500 inline-flex items-center gap-1 justify-center;
  }

  .btn.btn-medium {
    @apply px-6 py-2;
  }

  .btn.btn-large {
    @apply px-10 py-4;
  }

  .btn.icon-button {
    @apply w-10 h-10 rounded-full p-2;
  }

  .btn .icon {
    @apply text-2xl;
  }
}

a:not(.btn) {
  @apply text-blue-700 underline transition-colors dark:text-blue-400 font-bold;
}
